<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel ="stylesheet" href="/public/Content/app.css">
</head>
<body background="\Assets\images\background.jpg" >
  
</body>

  <div class="hero-image">
    
    <div class="hero-text">
     
      <h1>Welcome </h1>
      <h1>to Husky Byte</h1>
     
      <div class="index-introduction">
      <h2> Provides the Best Dog Sitter and Trainers </h2>
      </div>

      <div>
      <button class="register"><a href="/dog-list"> Register Now</a></button>
      </div>
      
    </div>
   
  </div>

  <div>

    <table class ="table" style="width:100%" align="center">

      <tr>
        <th style="background-color:gray;"colspan="5";><p>Other Services</p></th>
      </tr>
         
      <tr>
      <th>Name</th>
      <th>Location</th> 
      <th>Remaining Vacancy</th>
      <th>Price Range</th>
      <th>Services</th> 
             
      </tr>
      <tr>
      <th><a href="https://www.acak9.com/?device=c&keyword=dog%20trainers&campaign=410393147&utm_term=dog%20trainers&identifiers=kwd-84113109718867:loc-113987&Campaign=**LP%20Search%20-%20Dog%20Training&CampaignId=410393147&AdGroup=Dog%20Trainers&AdGroupId=1345802888201646&AdId=84112767008841&Network=o&msclkid=532a463a33d5107fc3512550954e8042&utm_source=bing&utm_medium=cpc&utm_campaign=**LP%20Search%20-%20Dog%20Training&utm_content=Dog%20Trainers">Acadia Caine Academy</a></th>
      <th>37 Harris Avenue Ravena, New York 12143</th> 
      <th>2</th>
      <th>$100~$200</th>
      <th>Dog Trainer</th> 
            
      </tr>
      <tr>
            
      <th><a href="https://www.tailspin.ca/">Tailspin Dog Spa</a></th>
      <th>12 Irwin Ave. 
      Toronto, Ontario
      M4K 1K9
      Canada</th> 
      <th>9</th>
      <th>$150~$250</th>
      <th>Dog Grooming & Spa</th> 
      </tr>
      <tr>
      <th><a href="https://www.debonairdogsdaycareandgrooming.com/">Debonair Dogs Daycare & Grooming</a></th>
      <th>1198 Yonge St, Toronto, ON M4T 1W1, Canada</th> 
      <th>4</th>
      <th>$130~$220</th> 
      <th>Grooming and Day Care</th> 
            
      </tr>
      <tr>
      <th><a href ="/services">Husky Byte 2.0</a></th>
      <th>8426 Pixie RD West, Montreal QC</th> 
      <th>11</th>
      <th>$110~$220</th>
      <th>Sitter and Trainer</th> 
      </tr>
   
    </table>


</h4>
<a href="/home">Return Home Page</a></footer> 
</div>
</html> 

  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




