

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


   
       
<!DOCTYPE html>
<html>
	<head>
  	<link rel="stylesheet" href="\Content\style1.css">
	</head>
	
			<body class="bg">
				<form class="">
			


						<div class="header">
				<img src="\Assets\images\productBanner.png" >
						</div>




<div class="center">
<h1>"Money can buy you a fine dog, but only love can make him wag his tail."</h1>
</div>
							


<div class="center">
<h2>Available Product List</h2>
</div>

<div class="responsive1">

<div class="center">
<h2><a href="https://www.amazon.ca/AmazonBasics-AMZRB-002-Round-Pet-Bed/dp/B07233P1W2/ref=asc_df_B07233P1W2/?tag=googleshopc0c-20&linkCode=df0&hvadid=292924518861&hvpos=&hvnetw=g&hvrand=16054448157769245394&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9000892&hvtargid=pla-392911347285&th=1">Round Dog Bed, Brown</a><br>$25.45<br></h2>
</div>
  <div class="gallery">
    <a target="_blank" href="\Assets\images\product1.jpg">
      <img src="\Assets\images\product1.jpg">
    </a>
      <div class="desc"><br>
        Round pet bed offers a safe, cozy place for a cat or small dog to snooze.
Plush flannel top surface for supreme softness; polyester canvas sides and bottom for strength.
Curved, slightly raised edge for added structure.<br>

<a href="https://www.amazon.ca/AmazonBasics-AMZRB-002-Round-Pet-Bed/dp/B07233P1W2/ref=asc_df_B07233P1W2/?tag=googleshopc0c-20&linkCode=df0&hvadid=292924518861&hvpos=&hvnetw=g&hvrand=16054448157769245394&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9000892&hvtargid=pla-392911347285&th=1">Click here for more info<br></a></div>
  </div>
</div>


<div class="responsive1">
<div class="center">
<h2><a href="https://www.amazon.ca/VitaLife-Duck-Tenders-Natural-Treats/dp/B086CYS18F/ref=sr_1_8?crid=XKGBU54F299Y&keywords=dog%2Btreats&qid=1668477313&qu=eyJxc2MiOiI3LjMxIiwicXNhIjoiNy4wNyIsInFzcCI6IjYuOTkifQ%3D%3D&rdc=1&sprefix=dog%2Btreats%2Caps%2C93&sr=8-8&th=1">VitaLife Dog Treats</a><br>$23.98</a><br></h2>
</div>
  <div class="gallery">
    <a target="_blank" href="\Assets\images\product2.jpg">
      <img src="\Assets\images\product2.jpg">
    </a>
    <div class="desc"><br>
        All natural, real jerky dog treats that taste as good as they sound! Hand-crafted with fresh, never frozen, premium duck breast fillet, VitaLife Duck Tenders deliver 74% protein and all of the flavour. ‍

Single-ingredient goodness!<br>
<a href="https://www.amazon.ca/VitaLife-Duck-Tenders-Natural-Treats/dp/B086CYS18F/ref=sr_1_8?crid=XKGBU54F299Y&keywords=dog%2Btreats&qid=1668477313&qu=eyJxc2MiOiI3LjMxIiwicXNhIjoiNy4wNyIsInFzcCI6IjYuOTkifQ%3D%3D&rdc=1&sprefix=dog%2Btreats%2Caps%2C93&sr=8-8&th=1">Click here for more info<br></a></div>
  </div>
</div>

<div class="responsive1">
<div class="center">
<h2><a href="https://www.amazon.ca/Yingdelai-Biodegradable-Dispenser-eco-Friendly-Leak-Proof/dp/B07RJ28SK9/ref=sr_1_22?crid=1ADAECE97UW8Z&keywords=dog&qid=1668476301&qu=eyJxc2MiOiI5LjY5IiwicXNhIjoiOS4yNCIsInFzcCI6IjguNjUifQ%3D%3D&s=pet-supplies&sprefix=dog%2Cpets%2C106&sr=1-22">Yingdelai Dog Poop Bags</a><br>$23.98</h2>
</div>
  <div class="gallery">
    <a target="_blank" href="\Assets\images\product3.jpg">
      <img src="\Assets\images\product3.jpg">
    </a>
    <div class="desc"><br>

        Yingdelai dog poop bag is with good toughness and break point design, don't stick to each other making them easy to separate. Make cleaning up after your furry friend a simple task.Also great for cat owners to use for litter box clean up.<br>
<a href="https://www.amazon.ca/Yingdelai-Biodegradable-Dispenser-eco-Friendly-Leak-Proof/dp/B07RJ28SK9/ref=sr_1_22?crid=1ADAECE97UW8Z&keywords=dog&qid=1668476301&qu=eyJxc2MiOiI5LjY5IiwicXNhIjoiOS4yNCIsInFzcCI6IjguNjUifQ%3D%3D&s=pet-supplies&sprefix=dog%2Cpets%2C106&sr=1-22">Click here for more info<br></a></div>
  </div>
</div>

<div class="center">
    
    
    
    <div class="responsive1">
    
    <div class="center">
    <h2><a href="https://www.amazon.ca/FOXMM-Adjustable-Stainless-Steel-Suitable-Available/dp/B09W5C5VP4/ref=sr_1_81_sspa?keywords=dog&qid=1668478592&qu=eyJxc2MiOiI5LjY5IiwicXNhIjoiOS4yNCIsInFzcCI6IjguNjUifQ%3D%3D&s=pet-supplies&sr=1-81-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9idGY&psc=1">Raiesd Dog Bowls</a><br>$46.74<br></h2>
    </div>
      <div class="gallery">
        <a target="_blank" href="\Assets\images\product4.jpg">
          <img src="\Assets\images\product4.jpg">
        </a>
          <div class="desc"><br>
            The bowl stand and stainless steel bowls can be easily installed and detached. You can disassemble them for convenient cleaning and storing, not occupy space. The design of the four corners anti-skid pad of the base, anti-tipping and noise reduction. It is also easy to clean by just rinsing directly with water and no need to scrub.<br>
    
    <a href="https://www.amazon.ca/FOXMM-Adjustable-Stainless-Steel-Suitable-Available/dp/B09W5C5VP4/ref=sr_1_81_sspa?keywords=dog&qid=1668478592&qu=eyJxc2MiOiI5LjY5IiwicXNhIjoiOS4yNCIsInFzcCI6IjguNjUifQ%3D%3D&s=pet-supplies&sr=1-81-spons&sp_csd=d2lkZ2V0TmFtZT1zcF9idGY&psc=1">Click here for more info<br></a></div>
      </div>
    </div>
    
    
    <div class="responsive1">
    <div class="center">
    <h2><a href="https://www.amazon.ca/TRUE-LOVE-Portable-Dispenser-Food-Grade/dp/B07Q5PV8K6/ref=sr_1_23?crid=1ADAECE97UW8Z&keywords=dog&qid=1668478749&qu=eyJxc2MiOiI5LjY5IiwicXNhIjoiOS4yNCIsInFzcCI6IjguNjUifQ%3D%3D&s=pet-supplies&sprefix=dog%2Cpets%2C106&sr=1-23">Dog Water Bottle</a><br>$19.98</a><br></h2>
    </div>
      <div class="gallery">
        <a target="_blank" href="\Assets\images\product5.jpg">
          <img src="\Assets\images\product5.jpg">
        </a>
        <div class="desc"><br>
            It's a water bottle and a water bowl all in one! Simply press down the OPEN/LOCK button, allow the water to fill the bowl, then let your pet drink from it. When your dog is finished drinking, press down the OPEN/LOCK button again and watch as the leftover water drains from the bowl back into the bottle without wasting a drop. ‍
    
   <br>
    <a href="https://www.amazon.ca/TRUE-LOVE-Portable-Dispenser-Food-Grade/dp/B07Q5PV8K6/ref=sr_1_23?crid=1ADAECE97UW8Z&keywords=dog&qid=1668478749&qu=eyJxc2MiOiI5LjY5IiwicXNhIjoiOS4yNCIsInFzcCI6IjguNjUifQ%3D%3D&s=pet-supplies&sprefix=dog%2Cpets%2C106&sr=1-23">Click here for more info<br></a></div>
      </div>
    </div>
    
    <div class="responsive1">
    <div class="center">
    <h2><a href="https://www.amazon.ca/Outward-Hound-Kyjen-51006-Interactive/dp/B00L3O4JI6/ref=asc_df_B00L3O4JI6/?tag=googleshopc0c-20&linkCode=df0&hvadid=293014410616&hvpos=&hvnetw=g&hvrand=16054448157769245394&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9000892&hvtargid=pla-306669570633&psc=1">Slow Feeder Dog Bowl</a><br>$18.70</h2>
    </div>
      <div class="gallery">
        <a target="_blank" href="\Assets\images\product6.jpg">
          <img src="\Assets\images\product6.jpg">
        </a>
        <div class="desc"><br> Outward Hound uniquely designed Fun Feeder dog bowls feature meal-lengthening ridges to help slow down your dog’s eating time and 
            aid proper digestion which is common issues in fast-eating dogs like bloating, regurgitation, and obesity. Our Fun Feeder Slo Bowls both engage your dog during mealtime while helping reduce overeating behavior.<br>
    <a href="https://www.amazon.ca/Outward-Hound-Kyjen-51006-Interactive/dp/B00L3O4JI6/ref=asc_df_B00L3O4JI6/?tag=googleshopc0c-20&linkCode=df0&hvadid=293014410616&hvpos=&hvnetw=g&hvrand=16054448157769245394&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9000892&hvtargid=pla-306669570633&psc=1">Click here for more info<br></a></div>
      </div>
    </div>
</div>
    
<div class="clearfix"></div>

<div class="footer"></h4>
<br><a href="/home">Go back to Home Page</a></footer> 
<br>
<small><p>by Husky Byte&#153<a href="mailto:doge@huskybyte.ca">doge@huskybyte.ca</a>
								</p></footer></small></div>
				</form>
</html>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>
