    /* custom css goes here */
    
    div {
        text-align: center;
    }
    
    p {
        text-align: center;
    }
    
    h2,
    h4,
    h1,
    h5 {
        text-align: center;
    }
    
    li {
        font-style: "font-family:verdana"
    }
    
    body {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }
    
    table,
    th,
    td {
        border: 3px solid black;
        border-collapse: collapse;
    }
    
    tr:nth-child(even),
    td:nth-child(even) {
        background-color: #CBECF2;
    }
    
    tr:nth-child(odd),
    td:nth-child(odd) {
        background-color: #F2D1CB;
    }
    
    tr:hover {
        background-color: red;
    }
    
    td:hover {
        background-color: rgb(129, 8, 199);
    }
    /*About me page */
    
    body {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.5;
        font-size: 16px;
    }
    
    html {
        height: 100%;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .hero-image {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
        height: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    
    .hero-text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
    }
    
    .hero-text button:hover {
        background-color: #555;
        color: white;
    }
    
    h1 {
        color: rgb(5, 95, 133);
        font-size: 60px;
        text-align: center;
        font-weight: bold;
        text-shadow: 1px 2px #c1c1c1;
    }
    
    .blog-container {
        margin: 2rem auto;
        padding: 4rem;
        max-width: calc(100%-70px);
    }
    
    .article-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
        gap: 3rem;
        max-width: calc(100%-90px);
    }
    
    .article-image {
        margin: 5;
        padding: 0;
        overflow: hidden;
    }
    
    .article-image img {
        max-width: 100%;
        height: 35%;
        border-radius: 20px 20px 0 0;
    }
    
    .article-card {
        background: white;
        border-radius: 20px;
        transition: 0.3s;
    }
    
    .blogs {
        height: 70%;
        width: 80%;
        position: center;
        align-items: center;
        position: relative;
    }
    
    .article-card:hover {
        box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
        cursor: pointer;
    }
    
    .footer {
        padding: 150px;
        color: rgb(5, 95, 133);
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        text-shadow: 1px 2px #c1c1c1;
    }
    img {  
        width: 100px;
            max-height: 100px; }